.header-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 3em 0.5em 3em;
}

.header-icons {
    font-size: 1.5em;
}

.header, .header-icons {
    color: var(--dark-grey-color);
    cursor: pointer;
}

.header-text {
    font-family: var(--header-font);
    font-size: 1.5em;
}



.search-input {
    position: absolute;
    bottom: 0%;
    width: 15em;
    margin-left: 3em;
    margin-bottom: .5em;
    appearance: none;
    border-radius: 5px;
    border: 1px solid var(--dark-grey-color);
    padding: .5em;
    appearance: none;
}
