.header-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 3em 0.5em 3em;
}

.header-icons {
    font-size: 1.5em;
}

.header, .header-icons {
    color: var(--dark-grey-color);
    cursor: pointer;
}

.header-text {
    font-family: var(--header-font);
    font-size: 1.5em;
}



.search-input {
    position: absolute;
    bottom: 0%;
    width: 15em;
    margin-left: 3em;
    margin-bottom: .5em;
    appearance: none;
    border-radius: 5px;
    border: 1px solid var(--dark-grey-color);
    padding: .5em;
    appearance: none;
}

.cart-icon-header {
   position: relative;
}

.cart-circle {
    color: var(--dark-grey-color);
    width: 1em;
    height: 1em;
    position: absolute;
    bottom: 0;
    right: -12px;
    background-color: var(--purple-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: .65em;
    font-size: 14px;
    font-weight: 500;
}