section {
    background-color: var(--white-color);
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: .5em;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.category-img {
    width: 50px;
    height: 50px;
    border: 2px solid var(--purple-color);
    border-radius: 100%;
    padding: 4px;
}

.category-text {
    color: var(--purple-color);
    font-size: 12px;
}

.add-product-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: .2em;
}

.add-product-btn {
    border: none;
    background-color: var(--purple-color);
    color: var(--dark-grey-color);
    padding: .5em 1em;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.255);
}

@media (min-width: 800px) {
    .category-container {
        gap: 3em;
    }

    .category-img {
        width: 70px;
        height: 70px;
    }

    .category-text {
        color: var(--purple-color);
        font-size: 16px;
    }
    .add-product-btn {
        font-size: 16px;
    }
}