.product-card {
    width: 250px;
    display:flex ;
    flex-direction: column;
    align-items: center;
}

.product-img {
    width: 200px;
    height: 200px;
}

.product-name {
    font-size: 20px;
}

.product-price {
    font-size: 18px;
}

.product-price, .product-name {
    font-weight: 500;
}

.price-cart-container {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    width: 200px;
}
.product-card .price-cart-container button {
    font-size: 18px;
}

.product-card button {
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.edit-remove {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
}